{% extends 'nft_admin/index.html' %}
{% load static %}

{% block content %}




<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  var y = document.getElementById("myDIV2");
  console.log(x.style.display);
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.height = "150px";
  } else {
    x.style.display = "none";
    y.style.height = "80px";
  }
}
</script>

{% if message %}
            <div id="delete-col" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <strong>Deleted!</strong> User Deleted successfully..!
            </div>
        {% endif %}
<div class="main" style="width:-webkit-fill-available;">
   <!-- MAIN CONTENT -->
    <div class="row panel-body ">

        <div class="col-12">
<!--            <h3 class="alert alert-success text-center"> All Users List </h3>-->
            <button class="btn btn-success" style="float:right" type="button" onclick="myFunction()">Filter</button>
        </div>

        <form id="myDIV" class="form-horizontal " style="display:none;margin-left:20px" class="form-horizontal" method="get">
            {% csrf_token %}
            <br><br>
            <fieldset style="margin-bottom:40px">
<!--                {{myfilter.form.as_p}}-->

                    <label for="id_username" class="control-label "> </label>
                       {{ myfilter.form.username }}

                    <label for="id_email" class="control-label "> </label>
<!--                    <div class="col-sm-10">-->
                        {{ myfilter.form.email }}
<!--                    </div>-->
                    <label for="id_first_name" class="control-label ">  </label>
<!--                    <div class="col-sm-10">-->
                        {{ myfilter.form.first_name }}
<!--                    </div>-->
                    <label for="id_last_name" class="control-label ">  </label>
<!--                    <div class="col-sm-10">-->
                        {{ myfilter.form.last_name }}
<!--                    </div>-->
                    <input type="submit" class=" btn btn-success btn-sm" value="Search">
            </fieldset>
        </form>

<!--        </div>-->
<!--    </div>-->
    <div class="col-12" style="overflow:auto;">
        {% if user %}
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">UserName</th>
                <th scope="col">First_Name</th>
                <th scope="col">Last_Name</th>
                <th scope="col">Created_at</th>
                <th scope="col">Is_active</th>
                <th scope="col" colspan="2">Operations</th>
            </tr>
            </thead>
            <tbody>
            {% for user in obj %}
            <tr>
                <td>
              {% if is_paginated %}
                                {{ page_obj.start_index|add:forloop.counter0 }}
                            {% else %}
                                {{ forloop.counter }}
                            {% endif %}
                </td>
                <td>{{user.email}}</td>
                <td>{{user.username}}</td>
                <td>{{user.first_name}}</td>
                <th>{{user.last_name}}</th>
                <td>{{user.created_at}}</td>
                <td>{{user.is_active}}</td>
                                       <td>

                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{ user.id }}2">
                             <a style="text-decoration:none; color:white"
                            ><i class="fa fa-trash"></i> Delete</a>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="{{ user.id }}2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Confirm Delete</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <p>Do you want to delete?</p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button  type="button" class="btn btn-danger"><a style="text-decoration:none; color:white"
                           href="{% url 'admin_user:deletepost' user.id %}"><i class="fa fa-trash"></i> Delete</a></button>
                            </div>
                            </div>
                            </div>
                            </div>
                        </td>
                <td>
                    <div class="btn-group-vertical ">


                        <a href="{% url 'admin_user:profiles_view' user.id %}" class=" btn btn-info btn-sm "
                           style="margin:3px;"><i class="fa fa-eye" style="color:white;font-size:20px;"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h4 class="text-center alert alert-warning">No Records</h4>
        {% endif %}
        <ul class="pagination">

{% if obj.has_previous %}
    <li><a href="?page={{ obj.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
{% else %}
    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
{% endif %}

{% if obj.number|add:'-4' > 1 %}
    <li><a href="?page={{ obj.number|add:'-5' }}">&hellip;</a></li>
{% endif %}

{% for i in obj.paginator.page_range %}
    {% if obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i > obj.number|add:'-5' and i < obj.number|add:'5' %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
{% endfor %}

{% if obj.paginator.num_pages > obj.number|add:'4' %}
    <li><a href="?page={{ obj.number|add:'5' }}">&hellip;</a></li>
{% endif %}

{% if obj.has_next %}
    <li><a href="?page={{ obj.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
{% else %}
    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
{% endif %}

</ul>


    </div>
</div></div></div>
</div>

<script>
    window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 1500);
    </script>

{% endblock content %}
