{% extends 'nft_admin/index.html' %}
{% block style %}

    <script>
        function myFunction() {
            var x = document.getElementById("myDIV");
            var y = document.getElementById("myDIV2");
            console.log(x.style.display);
            if (x.style.display === "none") {
                x.style.display = "block";
                y.style.height = "150px";
            } else {
                x.style.display = "none";
                y.style.height = "80px";
            }
        }


    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <!-- DRAG/DROP COLUMNS REORDER -->
        <div class="panel">
            <div class="panel-heading">
                <button class="btn btn-success" style="float:right" type="button" onclick="myFunction()">Filter</button>
                <br>

                <h3 class="panel-title">NFT</h3>
                <form id="myDIV" style="display:none" class="form-horizontal" method="get">
                    {% csrf_token %}
                    <br><br>

            <fieldset style="margin-bottom:40px">
{#                <div class="form-group col-md-2">#}
{#                    <label for="inputEmail4" class="col-form-label">Nft:</label>#}
{#                       {{ myfilter.form.nft }}#}
{#                </div>#}
                   <div class="form-group col-md-2" style="margin-left: 1%; ">
                        <label for="inputEmail4" class="col-form-label">Price:</label>
                        {{ myfilter.form.price }}
                    </div>

                    <input type="submit" style="margin-left: 2%; margin-top: 20px;" class=" btn btn-success btn" value="Search">
            </fieldset>
                </form>
            </div>


            <div class="panel-body ">


                <table id="datatable-column-reorder" class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>Price</th>
                        <th>Nft</th>
                        <th>Is Active</th>
                        <th>Date</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for nft_obj in obj %}

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ nft_obj.nft.price }}</td>
                            <td>{{ nft_obj.nft.name }}</td>
                            <td>{{ nft_obj.is_active }}</td>
                            <td>{{ nft_obj.date }}</td>
                        </tr>
                    {% endfor %}


                    </tbody>

                </table>
                <ul class="pagination">

{% if obj.has_previous %}
    <li><a href="?page={{ obj.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
{% else %}
    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
{% endif %}

{% if obj.number|add:'-4' > 1 %}
    <li><a href="?page={{ obj.number|add:'-5' }}">&hellip;</a></li>
{% endif %}

{% for i in obj.paginator.page_range %}
    {% if obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i > obj.number|add:'-5' and i < obj.number|add:'5' %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
{% endfor %}

{% if obj.paginator.num_pages > obj.number|add:'4' %}
    <li><a href="?page={{ obj.number|add:'5' }}">&hellip;</a></li>
{% endif %}

{% if obj.has_next %}
    <li><a href="?page={{ obj.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
{% else %}
    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
{% endif %}

</ul>



            </div>
        </div>
{% endblock %}