{% extends 'nft_admin/index.html' %}
{% load static %}
{% block content %}
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="content-heading clearfix">
            <div class="heading-left">
                <h1 class="page-title">Add Nft</h1>
                <p class="page-subtitle">Add your Nft</p>
            </div>

            <ul class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">Form Layouts</li>
            </ul>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <!-- SUBMIT TICKETS -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Add NFT</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" role="form" method="POST" action="{% url 'nft_management:add-price-history' %}">
                                {% csrf_token %}

                                <fieldset>



                                      <div class="form-group">
                                        <label for="name" class="col-sm-3 control-label">Price</label>
                                        <div class="col-sm-9">
                                            <input type="number" name="price" class="form-control">
                                        </div>
                                    </div>
                                  <div class="form-check float-end">
                                        <input class="form-check-input" type="checkbox" value="is_active" id="flexCheckChecked" checked>
                                        <label class="form-check-label" for="flexCheckChecked">is_active</label>

                                      </div>




                                    <div class="form-group">
                                        <label for="category" class="col-sm-3 control-label">Nft</label>
                                        <div class="col-sm-9">

                                            <select id="category" name="nft" class="form-control">
                                               {% for nft in nft_obj %}
                                                <option name="collection" value="{{ nft.id }}">{{nft.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-3 control-label">Date</label>
                                        <div class="col-sm-9">
                                            <input type="date" name="date" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group text-center">

                                       <input type="submit" class=" btn btn-success" value="Create" >
                                    </div>

                                    
                                    
                                    
                                    
                                    
                                    

                                </fieldset>

                            </form>
                        </div>
                    </div>
                    <!-- END SUBMIT TICKETS -->
                    <!-- SIGN IN -->

                </div>

                <!-- SIGN IN -->

            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
{% endblock %}