{% extends 'nft_admin/index.html' %}

{% block content %}
    <!-- MAIN CONTENT -->
<div class="col-md-12">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Social setting</h3>
            </div>
            <div class="panel-body">
 {% if messages %}
                     <ul class="alert alert-success alert-dismissible" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                         <script>
window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 1500);
            </script>
                <form method="post" class="form-horizontal" action="{% url 'settings:social'%}" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="form-group">
                        <div style="margin-left:300px">
                        {{ form.discord.label_tag}}
                        </div>
                    {{ form.discord}}
                    </div>
                     <div class="form-group">
                         <div style="margin-left:300px">
                        {{ form.twitter.label_tag}}
                        </div>
                    {{ form.twitter}}
                    </div>
                     <div class="form-group">
                         <div style="margin-left:300px">
                        {{ form.youTube.label_tag}}
                        </div>
                    {{ form.youTube}}
                    </div>
                     <div class="form-group">
                         <div style="margin-left:300px">
                        {{ form.instagram.label_tag}}
                        </div>
                    {{ form.instagram}}
                    </div>
                     <div class="form-group">
                         <div style="margin-left:300px">
                        {{ form.medium.label_tag}}
                        </div>
                    {{ form.medium}}
                    </div>
                     <div class="form-group">
                         <div style="margin-left:300px">
                        {{ form.telegram.label_tag}}
                        </div>
                    {{ form.telegram}}
                    </div>
                     <div class="form-group">
                         <div style="margin-left:300px">
                        {{ form.reddit.label_tag}}
                        </div>
                    {{ form.reddit}}
                    </div>
                    <div class="form-group">
                        <div style="margin-left:300px">
                        {{ form.github.label_tag}}
                        </div>
                    {{ form.github}}
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" class=" btn btn-info" value="Update" {{ 'social.html' }}>
                    </div>
                </form>

            </div>
    </div>
</div>

{% endblock %}